.env {
    color: red;
}

.bg {
    display: inline-block;
    height: 50px;
    width:50px;
    background: url('../images/icon2.jpg') no-repeat;
    background-size: contain;
}

img {
    height: 100px;
}